* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif !important;
}

body {
background-image: url(resource/backgroundimage.jpeg)
}

nav > ul {
  list-style-type: none;
  width: 100vw;
  background-image: url(resource/galaxy.png);
  display: flex;
  justify-content: space-between;
}

li.hamburger {
  display: none;
}

nav > ul li {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: .5em 1em;
}

li.hamburger > .button {
  float: right;
  margin-right: 2em;
  width: 1.5em;
  height: 1.5em;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li.hamburger > .button:hover {
  cursor: pointer;
}

nav > ul li:not(.hamburger):hover {
  color: #e65100;
  cursor: pointer;
}

.button div {
  display: block;
  height: 1px;
  width: 2em;
  background: #fff;
  transition: .3s all;
}

#check {
  display: none;
  transform: translateX(-100vw);
}

#check:checked ~ nav > ul li:not(.hamburger) {
  display: inline-block;
}

#check:checked ~ nav > ul li.hamburger {
  border-bottom: 1px solid #fff;
}

#check:checked ~ nav > ul li.hamburger  > label {
  transform: translateX(5.5px);
}

label {
  transition: .3s all;
}

#check:checked ~ nav > ul li.hamburger > label div:nth-of-type(2) {
  display: none;
}

#check:checked ~ nav > ul li.hamburger > label div:first-of-type {
  transform: rotate(45deg);
  width: 1.2em;
  height: 1.5px;
}

#check:checked ~ nav > ul li.hamburger > label div:last-of-type {
  transform: rotate(-45deg);
  width: 1.2em;
  height: 1.5px;
}

#check:checked ~ nav > ul li.hamburger > label {
  justify-content: center;
}

@media screen and (max-width: 720px) {
  nav > ul {
    flex-direction: column;
    border-bottom: 1px solid #fff;
  }
  li.hamburger {
    display: inline-block;
    margin-left: auto;
    width: 100vw;
  }
  li:not(.hamburger) {
    display: none;
  }
  nav > ul li:not(.hamburger):hover {
    color: #e65100;
    cursor: pointer;
    transform: translateX(10px);
  }
}
.bar a {
    text-decoration: none;
    color: white;
}
.bar a:hover{
    color: #e65100;
  cursor: pointer;
}
p {
  color: #fff;
}
.main {
  float:left;
  width:100%;
  padding:0 20px;
    margin:10px;
}
    .header {
  float:left;
  width:100%;
  padding:0 20px;
    margin:5px;
}
    
    .footer {
  float:left;
  width:100%;
  padding:0 20px;
}



@media only screen and (max-width:720px) {
  /* For mobile phones: */
  .menu, .main, .right, .floor_img .detailimage, .detailtext {
    width:100%;
  }
    .logo{
        width: 50%;
    }
  
}
    .logo{
        float:left;
        
    }
    .text {
  text-align: center;
        text-shadow: 0 0 3px #0f1dc4
}
.footer{
    background-image: url(resource/galaxy.png);
}